<app-navbar></app-navbar>

<div class="container-fluid col-lg-12" style="text-align: center;">

  <div class="row" >

  <div class="col-lg-6" style="display: inline-block;">
    <mat-card-title> About me</mat-card-title>
    <mat-card>
      <img src="../../assets/IMG_8258.jpg" alt=""/>
      <mat-card-content>
        <br>
            <p>
              I am a software engineer, actively looking for opportunities in the San Francisco Bay Area.
            </p>


            <mat-card-footer class="bg-light">
              <a class="nav-item nav-link" href="https://docs.google.com/document/d/1oCsjOZhX7ddW2m0s0oW-NJcR0RDENK1liEq02Gfq81c/edit?usp=sharing">Resume</a>
            </mat-card-footer>
          <p></p>
      </mat-card-content>
    </mat-card>

  </div>



    <div class="col-lg-4" >
      <mat-card-header>
        <mat-card-title> Web Projects </mat-card-title>
      </mat-card-header>
      <mat-card appMaterialElevation> <a href="http://revaso.herokuapp.com/#/login">Revaso </a>
      <mat-card-content>A multi-user social media site built with Java Angular 8.</mat-card-content></mat-card>
      <mat-card appMaterialElevation> <a href='http://ufo-sightings.herokuapp.com'> UFO-Sightings </a>    <mat-card-content>
       Built with Node and Express.
      </mat-card-content> </mat-card>
      <mat-card appMaterialElevation><a href='http://sam-jones-dev.herokuapp.com/'> Wishlist </a>
        <mat-card-content> Built with Java and Thymeleaf.
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <div class="col-lg-4" > -->
      <!-- <mat-card-header> -->
        <!-- <mat-card-title> Data projects from Grad School </mat-card-title> -->
      <!-- </mat-card-header> -->
      <!-- <mat-card appMaterialElevation> <a href="https://samjones-datascience.herokuapp.com/LDA-QDA-KNN-Aussie-Rain">Aussie Rain </a> </mat-card> -->
      <!-- <mat-card appMaterialElevation> <a href='https://samjones-datascience.herokuapp.com/decision-trees-random-forests'> Decision Trees </a> </mat-card> -->
      <!-- <mat-card appMaterialElevation><a href='https://samjones-datascience.herokuapp.com/k-means-clustering'> K-Means Clustering </a></mat-card> -->
      <!-- <mat-card appMaterialElevation><a href='https://samjones-datascience.herokuapp.com/logistic-regression'> Logistic Regression </a></mat-card> -->
      <!-- <mat-card appMaterialElevation><a href='https://samjones-datascience.herokuapp.com/linear-regression'> Linear Regression </a></mat-card> -->




  <!-- </div> -->
<!-- </div> -->

</div>
