<app-navbar></app-navbar>

<div class="container-fluid col-lg-12" style="text-align: center;">

  <div class="row" >

  <div class="col-lg-4" style="display: inline-block;">
    <mat-card-title> About me</mat-card-title>
    <mat-card>
      <img src="../../assets/IMG_8258.jpg" alt=""/>
      <mat-card-content>
        <br>
            <p>
              I am a software engineer, with experience across the entire stack. I have written applications in Java (using Spring Boot), and Javascript frameworks such as Angular and React. I also have completed graduate courses in data analysis using Python and R. 
              Actively seeking full-time roles across the U.S.A.  
            </p>


            <mat-card-footer class="bg-light">
              <a class="nav-item nav-link" href="https://docs.google.com/document/d/1oCsjOZhX7ddW2m0s0oW-NJcR0RDENK1liEq02Gfq81c/edit?usp=sharing">Resume</a>
            </mat-card-footer>
          <p></p>
      </mat-card-content>
    </mat-card>

  </div>



    <div class="col-lg-4" >
      <mat-card-header>
        <mat-card-title> Web Projects </mat-card-title>
      </mat-card-header>
      <mat-card appMaterialElevation> <a href="http://revaso.herokuapp.com/#/login">Revaso </a>
      <mat-card-content>A multi-user social media site built with Java and Angular. This application's features include registration, writing posts, sending kudos (likes), updating your profile and searching for other profiles.</mat-card-content></mat-card>
      <mat-card appMaterialElevation> <a href='http://ufo-sightings.herokuapp.com'> UFO-Sightings </a>    <mat-card-content>
       Built with Node and Express, this application features data on thousands of UFO sightings across the U.S. Using the JQuery UI, you can search or add new sightings to the database.
      </mat-card-content> </mat-card>
      <mat-card appMaterialElevation><a href='http://sam-jones-dev.herokuapp.com/'> Wishlist </a>
        <mat-card-content> Built with Java and Thymeleaf, this application was my foray into using templating engines with Java. It mainly functions as a way for me to keep track of items I may want to buy. Although it uses Google OAuth, the content does not use your information.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4" >
      <mat-card-header>
        <mat-card-title> Data Projects in Python </mat-card-title>
        <!-- <mat-card-content> Newly added on 04/02/2020. I will add "plain English" analysis to these notebooks in the near future.</mat-card-content> -->
      </mat-card-header>
      <!-- <mat-card appMaterialElevation> <a href="/LDA-QDA-KNN-Aussie-Rain.html">Aussie Rain </a> </mat-card> -->
      <mat-card appMaterialElevation> <a href='/decision-trees-random-forests.html'> Decision Trees </a> </mat-card>
      <mat-card appMaterialElevation><a href='/k-means-clustering.html'> K-Means Clustering </a></mat-card>
      <mat-card appMaterialElevation><a href='/logistic-regression.html'> Logistic Regression </a></mat-card>
      <mat-card appMaterialElevation><a href='/linear-regression.html'> Linear Regression </a></mat-card>




  <!-- </div> -->
<!-- </div> -->

</div>
